	 <form>
	 
	  <table style="width:500px;">
			<tr>
				<th>Title</th>
				<th>Type</th>
				<th>Description</th>
				<th>Author</th>
				<th>Publisher</th>
				<th>Pages</th>
				<th>Images</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>
		 <tbody id="booktable">
		 
		 </tbody>
		 </table>
		<label>Book Title:</label>  <input	type="text" id="txttitle" /></br></br>
		<label>Book Type:</label>  <input	type="text" id="txtgenre" /></br></br>
		<label>Book Description:</label>  <input	type="text" id="txtdesc" /></br></br>
		<label>Book Author:</label>  <input	type="text" id="txtauthor" /></br></br>
		<label>Book Publisher:</label>  <input	type="text" id="txtpublisher" /></br></br>
		<label>Book Pages:</label>  <input	type="text" id="txtpages" /></br></br>
		<label>Book Image:</label>  <input	type="text" id="txturl" /></br></br>
		
		 <input type = "button" id="btnBook" value = "SubmitBook" />
		 <input type = "button" id="btnUpBook" value = "UpdateBook" />
	 </form>